<ul nz-menu nzMode="inline"
    style="width: 240px;height: 100vh;display: inline-block;position: fixed;overflow-x: hidden;overflow-y: auto">
  <li
    (nzOpenChange)="openHandler('sub1')"
    [(nzOpen)]="openMap.sub1"
    nz-submenu
    nzIcon="question-circle"
    nzTitle="Menu 1"
  >
    <ul>
      <li nz-menu-item routerLink="/">Sub menu 1</li>
      <li nz-menu-item routerLink="/">Sub menu 2</li>
    </ul>
  </li>
  <li
    (nzOpenChange)="openHandler('sub2')"
    [(nzOpen)]="openMap.sub2"
    nz-submenu
    nzIcon="message"
    nzTitle="Menu 2"
  >
    <ul>
      <li nz-menu-item routerLink="/">Sub menu 1</li>
      <li nz-menu-item routerLink="/">Sub menu 2</li>
    </ul>
  </li>
</ul>
